.App {
  padding: 1em .5em;
}

.App header {
  text-align: center;
}

.menu-action {
  display: flex;
  justify-content: space-between;
}

.toggle-button-view {
  display: flex;
  width: 50%;
  flex-direction: row;
  justify-content: end;
}

.container {
  width: 85vw;
  margin: 0 auto;
}

#app {
  background-color: blanchedalmond;
}

#app-child {
  background-color: rgb(77, 137, 197);
}
